doctype html
html
  head
    title= `My app - ${title}`
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    .nav
      .navContainer
        a(href="http://localhost:7878/") Home
        a(href="http://localhost:7878/users") Users
        a(href="http://localhost:7878/register") Register
        a(href="http://localhost:7878/login") Login      
        
    .content
      block content
  
    block scripts
      script(src="/js/scripts.js")