extends layout

block content
    h3 #{user.name}
    each entry in user.entries
      p.date #{entry.date}
      p.entry #{entry.text}

    form
      label(for="description") New entry
        textarea(name="description", cols="30", rows="10")