body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(77, 77, 77);
}

.date {
  font-size: 0.8rem;
}
.nav a {
  padding-right: 10px;
}
.entryContainer {
  padding: 10px;
  border: 1px solid grey;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.newEntry {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.newEntry > input[type='submit'] {
  width: 100px;
}